body {
    background-color: gray;

}

h1, h2{
    text-align: center;
}

p {
    color: brown;
    font-size: 25px;
}

.flexMe {
    text-align: center;
    border: 3px solid;
    display: flex;
    justify-content: end;
}